@import url('https://fonts.googleapis.com/css?family=Open+Sans:regular,bold,italic&subset=latin,latin-ext');

body {
  font-family: "Open Sans";
}

h1 {
  font-family: "Open Sans";
  font-size: 2rem;
  line-height: 1.3
} 

h3 {
  font-family: "Open Sans";
  font-size: 1.5rem;
  line-height: 1.3
}

p { 
  font-family: "Open Sans";
  font-size: 1rem;
  line-height:1;
  margin-bottom: .5rem; 
} 

strong, b {
  font-weight: bold;
}