body, html {
  margin: 0;
}

body {
  font-family: "tex-gyre-heros";
}

a {
  color: black;
  border: 0;
  text-decoration: none;
}

h1 {
  font-family: "tex-gyre-heros";
  font-size: 2rem;
  line-height: 1.3
} 

h3 {
  font-family: "tex-gyre-heros";
  font-size: 1.5rem;
  line-height: 1.3
}

p { 
  font-family: "tex-gyre-heros";
  font-size: 1rem;
  line-height:1;
  margin-bottom: .5rem; 
} 

strong, b {
  font-weight: bold;
}